.currency-selector {
  cursor: pointer;
  user-select: none;
  &__active-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    &::after {
      content: '';;
      width: 0;
      height: 0;
      border-right: 0.35rem solid transparent;
      border-left: 0.35rem solid transparent;
    }
    &_opened {
      &_open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &::after {
          border-bottom: 0.35rem solid #000;
        }
      }
      &_close::after {
        border-top: 0.35rem solid #000;
      }
    }
  }
  &__additional-items {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding: 0.8rem 1rem;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #C4C4C4;
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}