.check-box {
  width: 1.5rem;
  height: 1.5rem;
  background: #FFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}