.resume-list
    width 98%
    height 100%
    border #1a1a1a 1px solid
    border-top none 
    border-bottom none
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
