@import 'shared/style/varDesktop.scss';

.country-item {
  width: 100%;
  border-radius: 0.625rem;
  color: #000000;
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
  &__flag {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.625rem;
  }
  &__link {
    background: $lightgrey-gradient;
    height: 1.875rem;
    display: flex;
    align-items: center;
    padding: 0 0.375rem;
    box-sizing: border-box;
    border-radius: 0.625rem;
  }
  &:hover &__link, &__link_active {
    background: linear-gradient(180deg, #93CBFF 0%, #BCDFFF 0.01%, #65B5FF 100%), #93CBFF;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  }
}