.button
    border 1.5px solid white
    border-radius 5px
    color white
    cursor pointer
    &_color
        &_green
            background-color #6fa53b
            &:hover
                background-color darken(#6fa53b, 10%)
                border-width 1px
        &_gray
            background-color #333   
            &:hover
                background-color darken(#333, 10%)
                border-width 1px 

        &_orange
            background-color #FF8000   
            &:hover
                background-color darken(#FF8000, 10%)
                border-width 1px         

    &_size
        &_small
            width 5rem
            height 2rem
        &_middle
            width 8rem
            height 2.5rem
        &_big
            width 10rem
            height 3rem            

            