.input
    style none
    height 1.5rem
    background-color #ffffff
    color #000000
    margin 0
    padding 0
    padding-left 1rem

    &_size
        &_small
            width 5rem
        &_middle
            width 7.5rem
        &_big
            width 10rem + 15%              