@import 'shared/style/varDesktop.scss';

.sport-menu {
  width: 100%;
  border: 1px solid $semi-light-blue;
  background: linear-gradient(90deg, #012F75 0%, #0153A0 100%);
  border-radius: 0.625rem;
  overflow: hidden;

  &__caption {
    width: 100%;
    height: 2.5rem;
    background: linear-gradient(180deg, #268BE9 0%, #1A5BBC 100%), #1A5BBC;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
    border-bottom: 1px solid $semi-light-blue;
    box-sizing: border-box;
  }
  &__title {
    margin-left: 0.5625rem;
    margin-top: 0.16rem;
  }
  &__sport-list {
    box-sizing: border-box;
    padding: 0.3125rem 0.25rem;
  }
}