.auth {
  width: 100%;
  height: 100%;
  color: #000;

  &__switcher {
    width: 100%;
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #268BE9;
    background: linear-gradient(90deg, #1A5BBC 5.6%, #063C8B 100%);
    border-radius: 10px 10px 0 0;
    user-select: none;
    color: #FFF;
    text-transform: uppercase;
  }

  &__switch-item {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &_active {
      background: linear-gradient(180deg, rgba(38, 139, 233, 0) 0%, rgba(38, 139, 233, 0.708333) 100%);
    }
  }

  &__content {
    width: 100%;
    background: #E0E0E0;
    border: 1px solid #268BE9;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
  }

  &__sign-in {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
  }

  &__sign-up {
    width: 100%;
  }
}