@import 'shared/style/varDesktop.scss';

.header {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  user-select: none;
  background: #154894;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  
  &__main {
    height: 3.2rem;
    display: flex;
    user-select: none;
    width: 100%;
  }
  &__left {
    height: 100%;
  }
  &__right {
    flex-grow: 2;
    height: 100%;
  }
  &__logo-bg {
    height: 100%;
    pointer-events: none;
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
  }
  &__logo {
    display: block;
    width: 9.625rem;
    height: 2.375rem;
    align-self: center;
  }
  &__logo-click {
    height: 100%;
    display: block;
  }
  &__top {
    height: 100%;
    background: $dark-blue;
    box-sizing: border-box;
    padding-left: 4rem;
    display: flex;
  }
  &__bottom {
    height: 100%;
    background: $blue-pizdec;
    box-sizing: border-box;
    display: flex;
    padding-right: 0.9375rem;
  }
  &__bottom-left {
    height: 100%;
  }
  &__bottom-right {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__separator {
    width: 2px;
    height: 2.375rem;
    background: $semi-light-blue;
    opacity: 0.4;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.59);
  }
  &__language {
    padding-left: 0.9375rem;
    display: flex;
    height: 100%;
    align-items: center;
    width: 6rem;
  }
  &__language-text {
    margin-right: 0.9375rem;
  }
  &__buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  &__button {
    min-width: 8rem;
    margin-right: 0.8rem;
  }
}