.footer
    width 100%
    height 3.5rem
    background-color #1a1a1a;
    display flex
    justify-content flex-start
    align-items center
    color white
    flex: 0 1 3.5rem

    &__contacts
        width 15%
        margin-left 4%

    &__email
        width 15%

    &__technology
         margin-left auto   
         margin-right 4%
