.nav
    list-style none
    height 100%
    width 100%
    margin 0
    padding 0
    max-width 100%


    &-container
        height 100%
        width 14%
        background-color #6fa53b
        border-top-left-radius 8px
        border-bottom-left-radius 8px
        border-right 2px solid #fff

    a
        color black 
        text-decoration none
        