.resumes
    color #000
    width 98%
    height 96%
    display flex
    flex-direction row
    justify-content flex-start
    align-items center

    &__left-container
        width 50%
        height 100%
    &__right-container
        width 50%
        height 100%