.auth-wrapper
    width 20%
    height 100%
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    margin-right 4%

    &__name
        font-size 0.85rem

    .button_color_green
        margin-right 2%
        margin-left 2%    