@import 'shared/style/varDesktop.scss';

.main-menu {
  height: 100%;
  &__list {
    display: flex;
    height: 100%;
  }
  &__list-item {
    height: 100%;
    cursor: pointer;
    &:first-child .main-menu__list-item-link::before {
      border-left: 1.11rem solid #FFF; 
      border-top: 1.58rem solid #FFF; 
      content: '';
      position: absolute;
      display: block;
      left: 0;
      border-right: 1.11rem solid transparent; 
      border-bottom: 1.58rem solid transparent; 
      z-index: 1;
      pointer-events: none;
    }
  }
  &__list-item_active &__list-item-link {
    background: $light-blue-gradient;
    pointer-events: none;
    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      border-left: 1.11rem solid $blue-pizdec; 
      border-top: 1.58rem solid $blue-pizdec; 
      border-right: 1.11rem solid transparent; 
      border-bottom: 1.58rem solid transparent; 
      z-index: 1;
      pointer-events: none;
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      border-left: 1.125rem solid transparent; 
      border-top: 1.5625rem solid transparent; 
      border-right: 1.125rem solid $blue-pizdec; 
      border-bottom: 1.5625rem solid $blue-pizdec;
      pointer-events: none;
      z-index: 1;
    }
  }

  &__list-item-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    color: $white;
    text-transform: uppercase;
    font-size: 1.125rem;
    position: relative;
    box-sizing: border-box;
    margin-right: -2.1rem;
  }
}