// @import 'shared/style/varDesktop.scss';

$dark-blue: #113B79;
$blue-gradient: linear-gradient(270deg, #154894 0%, #1A5BBB 90.31%);
$white: #ffffff;
$light-blue-gradient: linear-gradient(180deg, #93CBFF 0%, #268BE9 100%), #268BE9;
$blue-pizdec: #1853AB;
$border-blue: #1A5BBC;
$semi-light-blue: #268BE9;
$ultra-dark-blue: #002857;
$up-button-bg: #0B3362;
$subheader-gradient: linear-gradient(0deg, #0F3061, #0F3061), linear-gradient(270deg, #154894 0%, #1A5BBB 90.31%), #1A5BBA;
$green-gradient: linear-gradient(180deg, #5DDB52 0%, #01764C 100%);
$lightgrey-gradient: linear-gradient(180deg, #D8D8D8 0%, #EEEEEE 58.56%);