.resume {
  width: 60%;
  background: linear-gradient(270deg, #E0E0E0 0%, #BABABA 100%);
  user-select: none;
  border-radius: 10px;
  border: 1px solid #268BE9;
  box-sizing: border-box;
  padding: 2rem;
  color: #000;
}