.vacancies
    color #000
    width 100%
    height 96%
    display flex
    flex-direction row
    justify-content flex-start
    align-items center

    &__arrow-container
        height 100%
        width 5%
        display flex
        justify-content center
        align-items center

    &__arrow
        width 2.3rem
        height 2.3rem
        border none 
        border-top #6fa53b 2.5px solid 
        border-left #6fa53b 2.5px solid 
        background none

        &_direction

            &_left
                transform rotate(-45deg)
                margin-left auto
                &:hover
                    transform scale(1.2) rotate(-45deg)

            &_right
                transform rotate(135deg)   
                margin-right auto 
                &:hover
                    transform scale(1.2) rotate(135deg)

