.login_controls
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%

    &__login_button_block
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        margin: 0 3%

    &__registration_button_block
        display: flex
        flex-direction: row
        justify-content: flex-end
        align-items: center
        margin: 0 3%